<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="card">
        <div class="card__inner">
            <div class="card__face card__face--initial">

                <div class="card__header">

                    <img src="pp.jpg" alt="" class="pp">
                    <h3>ROY HSU</h3>


                    <h4> Click here </h4>
                </div>


            </div>
            <div class="card__face card__face--final">

                <div class="card__content">

                    <div class="card__header">

                        <img src="pp.jpg" alt="" class="pp">
                        <p1>
                            More than 20 years of experience in proffessional therapeutic massage. Specialised in Traditional Chinese Therapy and Aromatherapy, Original point therapy and Relaxation massage. Licensed by the Taiwan Rehabilitation Practitioners Association.
                        </p1>
                        <p2>
                            超过20年的专业治疗按摩经验。擅长中医疗法和香薰疗法、原点疗法和放松按摩。台湾康复师协会授权。
                        </p2>
                    </div>

                </div>
            </div>
            <script src="main.js"></script>
</body>

</html>