:root {
    --primary: rgb(243, 62, 62);
    --secondary: rgb(236, 131, 33);
    --dark: #212121;
    --light: #F3F3F3;
    --radius: 0.2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--dark);
}

.card {
    color: var(--primary);
    background-image: url(head.jpg) background-size: cover;
    padding: 8rem 0 0;
}