<!DOCTYPE html>
<html>

<head>

</head>
<title>
</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div imgbox>
                <img src="Cupping.jpg" alt="Cupping">
            </div>
            <div class="content">
                <h2>CUPPING AND GUA SHA </h2>
                <h3> Cupping--------$30 Gua Sha--------$40 Hot Stone------$30</h3>
                <p>
                    This is accomplished by rubbing the muscles with long gliding strokes in the direction of blood returning to the heart. When injuries occur deep in the muscle, bleeding often occurs causing deep bruises. There will also be edema in the area involving
                    the coagulation of sticky proteins. The combining presence of these elements usually results in stagnation of circulation to the area - resulting in pain, dysfunction, and chronic conditions.
                </p>
            </div>
        </div>

    </div>
</body>

</html>
</body>

</html>