html,
body {
  margin: 10;
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-container {
  margin: 0px auto 0 auto;
  width: auto;
  background-color: #7a0000;
}

.container {
  margin: 0px auto 0 auto;
  max-width: auto;
}

.nav-container {
  color: white;
  background-color: black;
}

.page-background {
  background-image: url(./images/red.png);
  background-repeat: repeat;
  resize: both;
  display: "flex";
}

.column {
  float: left;
}

.left {
  width: 50%;
  text-align: center;
}

.right {
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
