html,
body {
  margin: 10;
  margin-top: 86px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

  padding: 0;
  background:url(./images/PinkFlower.jpg) left;

  min-width: 100vh;
  width: 100;
  max-width: 100%;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;


}
body{

  padding:0;
  background:url(./images/PinkFlower2.jpg) right;
  margin: 0;
  min-width: 100vh;
  width: 100;
  max-width: 100%;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
}


.footer-container {
  margin: 0px auto 0 auto;
  width: auto;
  background-color: #7a0000;
}

.container {
  margin: 0px auto 0 auto;
  max-width: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

.page-background {
  background:url(./images/r3d.png);
  overflow: auto;
  resize: both;
  display: "flex";
  

}

.column {
  float: left;
}

.left {
  width: 50%;
  text-align: center;
}

.right {
  width: 50%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
